services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    networks:
      - omind-net

  backend:
    build: ./backend
    ports:
      - '5000:5000'
    environment:
      - MONGO_URI=mongodb://mongo:27017/omind
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
    networks:
      - omind-net

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    depends_on:
      - backend
    networks:
      - omind-net

volumes:
  mongo-data:

networks:
  omind-net:
    driver: bridge
